body {
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
}

.background {
    position: fixed;
    inset: 0;
    background-image: url("/assets/background.png");
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    transform: scale(1.1);
    z-index: -2;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: -1;
}

.snowflake {
    position: fixed;
    top: -10px;
    color: white;
    font-size: 1em;
    opacity: 0.8;
    user-select: none;
    filter: blur(5px);
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
    }
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
    background: rgba(0,0,0,0.35);
    padding: 2px 28px 1px 28px;
    border-radius: 22px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    width: fit-content;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin-bottom: 10px;
}

.board {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 20px auto;
}

.tile {
    position: absolute;
    width: 78px;
    height: 78px;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    cursor: pointer;
    backdrop-filter: blur(100px);
    transition:
        top 0.45s cubic-bezier(.22,.61,.36,1),
        left 0.45s cubic-bezier(.22,.61,.36,1),
        transform 0.15s ease;
}

.tile:hover {
    transform: scale(1.06);
}

button {
    padding: 10px 22px;
    font-size: 16px;
    border: none;
    border-radius: 13px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,255,255,0.9);
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

#status {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}